# Основные языки проекта
*.dart linguist-language=Dart
*.go linguist-language=Go

# Исключить ВСЕ нативные файлы Flutter
android/** linguist-vendored
ios/** linguist-vendored
macos/** linguist-vendored
windows/** linguist-vendored
linux/** linguist-vendored

# Исключить сборки, кэши и IDE
build/** linguist-generated
.dart_tool/** linguist-generated
.pub/** linguist-generated
.idea/** linguist-vendored
.vscode/** linguist-vendored

# Исключить служебные файлы (YAML, HTML, lock-файлы)
*.yaml linguist-vendored
*.yml linguist-vendored
*.html linguist-vendored
*.lock linguist-generated
*.iml linguist-vendored