# Основные языки
*.dart linguist-language=Dart
*.go linguist-language=Go

# Исключаем платформенные исходники Flutter, если не используешь
android/ linguist-vendored
ios/ linguist-vendored
macos/ linguist-vendored
windows/ linguist-vendored
linux/ linguist-vendored

# Исключаем папки сборки и служебные
build/ linguist-generated
.dart_tool/ linguist-generated
.flutter-plugins linguist-generated
.flutter-plugins-dependencies linguist-generated
.pub-cache/ linguist-generated

# Исключаем IDE и редакторы
.idea/ linguist-vendored
.vscode/ linguist-vendored
